/* General styling */
body {
    background-color: #000; /* Black background */
    color: #FFD700; /* Default yellow text */
    font-family: 'Courier New'; /* Use the existing font family */
    font-size: 1.7Em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Center container for train list */
.train-list-container {
    width: 110%; /* Increase the width for more space */
    max-width: 800px; /* Adjusted max-width for better readability */
    text-align: left;
}

/* Styling for the train items */
ul {
    padding: 0;
    list-style-type: none; /* Remove bullet points */
}

.train-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #333; /* Dark background for each train item */
}

/* Train header and details */
.train-header {
    font-weight: bold;
    margin-bottom: 5px;
    color: #FFD700; /* Yellow text */
}

.train-details {
    color: #FFD700; /* Yellow text */
}

.train-status.on-time {
    color: #5cb85c; /* Green for "On Time" */
}

.train-status.delayed {
    color: #d9534f; /* Red for "Delayed" */
}

/* Styling for estimated time and time until if delayed */
.train-details .train-estimated-time,
.train-details .train-time-until {
    color: #FFF; /* White text */
}

.train-stops {
    color: #FFD700; /* Yellow text */
}

.train-divider {
    margin-top: 15px;
    border: 0.5px solid #666; /* Subtle divider */
}

.current-time {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #FFD700; /* Yellow text */
}

.train-item.soon-arrival {
    color: #999; /* Greyed out text color */
    background-color: #222; /* Slightly darker background */
}

.train-item.soon-arrival .train-header,
.train-item.soon-arrival .train-details,
.train-item.soon-arrival .train-status,
.train-item.soon-arrival .train-estimated-time,
.train-item.soon-arrival .train-stops,
.train-item.soon-arrival .train-time-until {
    color: #999; /* Apply grey to all child text */
}

